* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bodoni Moda', serif;
    color: white;
    background-color: black;
    font-weight: bold;
}

header {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    height: 75px;
}

#title {
    font-size: 300%;
    text-align: center;
}

#main-image-section {
    height: 700px;
    width: 100%;
    position: relative;
    z-index: -1;
}

#main-image {
    height: 700px;
    background: url(../images/pexels-marcelo-chagas-2539094.jpg) no-repeat center center;
    background-color: black;
    width: 100%;
    padding: none;
    margin: none;
}

.active {
    font-style: italic;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav a {
    font-size: 150%
}

nav a:hover {
    border-bottom: 2px solid white;
}

#menu {
    padding-top: 15px;
    z-index: 2;
}

#menu li  {
    float: right;
    list-style: none;
    margin-right: 15px;
}

#about {
    position: absolute;
    top: 300px;
    left: 90px;
    text-align: center;
    width: 400px;
    height: 100px;
    background-color: rgba(106, 53, 149, 0.6);
}

#about h2 {
    font-size: 200%
}

#why_black_cats {
    color: black;
    background-color: white;
    height: 300px;
    width: 41%;
    float: left;
    padding: 25px;
    border: 5px solid rgba(106, 53, 149, 1);
    margin: 30px;
}

#why_black_cats h2, #why_rescue h2 {
    text-align: center;
}

#why_rescue {
    color: white;
    background-color: rgba(106, 53, 149, 1);
    height: 300px;
    width: 41%;
    float: right;
    padding: 25px;
    border: 5px solid white;
    margin: 30px;
}

#rescue-resources {
    height: 400px;
    width: 50%;
    float: left;
}

#resources-heading {
    text-align: center;
    font-size: 250%;
}

#rescue-menu {
    color:rgba(69, 20, 108, 1);
}

#rescue-menu a:hover {
    border-bottom: 2px solid rgba(69, 20, 108, 1);
}

.rescue-anchor {
    color: white;
}

.rescue-anchor:hover {
    font-style: italic;
}

#black-cat-pic-2-section {
    height: 400px;
    width: 50%;
    float: right;
    padding: none;
    margin: none;
    position: relative;
    z-index: -1;
}

#black-cat-pic-2 {
    background: url(../images/pexels-helena-lopes-1931367.jpg) no-repeat center center;
    background-color: white);
    background-size: cover;
    height: 400px;
    width: 100%;
    position: absolute;
    top: -30px;
}

footer {
    height: 25px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:white;
}

.social-networks i:hover {
    color: rgba(106, 53, 149, 1);
}

#comp-form {
    height: 600px;
    width: 30%;
    float: left;
    padding: 0;
    margin: 0;
    background-color: rgba(106, 53, 149, 1);
}

#story {
    height: 200px;
    width: 100%;
}

input:focus {
    background-color: #ccffff;
}

#comp-image-section {
    height: 600px;
    width: 70%;
    float: right;
    position: relative;
    z-index: -1;
}

#comp-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-david-bartus-1510543.jpg) no-repeat center center;
    background-size: cover;
    background-color: black;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    top: -31.5px;
}

#comp-description {
    height: 200px;
    width: 350px;
    background-color: rgba(106, 53, 149, 0.6);
    z-index: 2;
    left: 50px;
    top: 50px;
    position: absolute;
}

#comp-description h2 {
    text-align: center;
}

